<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'temp.css' %}">
</head>
<body>
    <h4>This is our fourth site</h4>
    <a href="{% url 'pg4' %}">Hello</a>
    {% if b is 1 %}
    <ul>
        <li>name</li>
        <li>age</li>
        <li>dob</li>
    </ul>
    {% elif b is 2%}
    <ul>
        <li>subhani</li>
        <li>22</li>
        <li>jan</li>
    </ul>
    {% elif b is 3 %}
    <ul>
        <li>karthi</li>
        <li>23</li>
        <li>nov</li>
    </ul>
    {% else %}
    <ul>
        <li>suba</li>
        <li>22</li>
        <li>june</li>
    <ul>
    {% endif %}

   

    
</body>
</html>